<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.last_name }} welcome!</title>
</head>
<body>
    <p>Hi! {{ user.last_name }}</p>
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <p>
        <a href="/accounts/profile/settings/" class="button">settings</a>
    </p>
    {% if is_editor %}
        <p>
            <a href="/create/start/" class="button">create a new post</a>
        </p>
    {% endif %}
    {% if post_list %}
        {% for post in post_list %}
            <p>
            <a href={{ post.get_absolute_view_url }}>{{ post.title }}</a>
            {% if is_editor %}
                <a href="/edit/{{ post.id }}/">Edit</a>
                <a href="/delete/{{ post.id }}/" class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
            {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p> you don't have any post</p>
    {% endif %}
    <a href="/homepage/">Home</a>
</body>
</html>