<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oops</title>
     <style>
         a.button{
            text-decoration: none;
            display: inline-block;
            font-family: 'Lora', 'Times New Roman', serif;
            font-size:20px;
            border:3px outset lightblue;
        }
         a.button:hover{
            text-decoration: none;
            background-color: #c08779;
            color:white;
        }
        a.button:active{
            text-decoration: none;
             border:3px inset lightblue;
        }
    </style>
</head>
<body>
    <h1>Sorry, {{ user.username }}:</h1>
    {% if type == "notauthor" %}
        <h1>you are not the author, you don't have permission</h1>
        <a href="/homepage/" class="button">Back</a>
    {% elif type == "pwdnotmatch" %}
        <h1>your confirm password is not match with your password</h1>
        <a href="/accounts/register/" class="button">Back</a>
    {% endif %}

</body>
</html>