<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success!</title>
    <style>
         a.button{
            text-decoration: none;
            display: inline-block;
            font-family: 'Lora', 'Times New Roman', serif;
            font-size:20px;
            border:3px outset lightblue;
        }
         a.button:hover{
            text-decoration: none;
            background-color: #c08779;
            color:white;
        }
        a.button:active{
            text-decoration: none;
             border:3px inset lightblue;
        }
    </style>
</head>
<body>
    {% if type == "editorrequest" %}
        <h1>your editor request has been successfully submitted</h1>
    {% elif type == "canceleditor" %}
        <h1>your are a general user now</h1>
    {% elif type == "delete" %}
        <h1>delete successfully.</h1>
    {% elif type == "pwdchange" %}
        <h1>password has been changed</h1>
    {% endif %}
    <a href="/accounts/profile/" class="button">Back</a>
</body>
</html>